<div class="container container-wide">
<%= link_to 'Back to all operations', operations_path, class: 'btn btn-primary btn-lg mb-3' %>
</div>

<div class="container container-wide">
<h1 class="mb-4">New operation</h1>
<%= render 'form', operation: @operation %>
</div>
